
body {
    overflow: auto;
}

html, body, #root, .App-wrapper {
    height: 100%;
}

.App {
    height: calc(100% - 64px);
}

.App-wrapper {
    min-height: 100vh;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    box-sizing: border-box;
}

:root {
    --player-height: 50px;
}
