.Artist {
    max-width: 800px;
    margin: 0 auto;
}

.Artist--header {
    padding-top: 1em;
    padding-bottom: 1em;
}

.Artist--header .Artist--subtitle {
    margin-bottom: 0.5em;
}

song-list {
    color: #212121;
}

.song-cover {
    margin-right: 0.5em;
}

.song-list .open-new-icon {
    color: #9E9E9E;
    margin-left: 0.2em;
}

.Artist .load-more-container {
    text-align: center;
    padding-bottom: 1em;
}
