.Lyrics {
}

.Lyrics--header {
    margin: 1em;
}

.Lyrics--togglebar {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    display: flex;
}

.Lyrics--togglebar > * {
    flex: 1;
}

.Lyrics--togglebar .format-size-button {
    flex: 0;
    width: auto;
}

.info-button {
    flex: 0;
}

.Lyrics--content {
    display: flex;
    padding: 5px;
    padding-top: 10px;
    background: #F5F5F5;

    padding-bottom: var(--player-height);
}

.Lyrics--content.small {
    font-size: 16px;
}

.Lyrics--content.large {
    font-size: 20px;
}

@media(min-width: 1000px) {
    .Lyrics--content td {
        padding: 0 2em;
    }
}

@media(min-width: 600px) {
    .Lyrics--content td {
        padding: 0 1em;
    }
}

@media(max-width: 414px) {
    .Lyrics--content.small {
        font-size: 12px;
    }

    .Lyrics--content.large {
        font-size: 16px;
    }
}

@media(max-width: 375px) {
    .Lyrics--content.small {
        font-size: 11px;
    }

    .Lyrics--content.large {
        font-size: 15px;
    }
}

@media(max-width: 320px) {
    .Lyrics--content.small {
        font-size: 10px;
    }

    .Lyrics--content.large {
        font-size: 14px;
    }
}

.Lyrics--content table {
    margin: 0 auto;
}

.Lyrics--content td {
    vertical-align: top;
}

.txt-icon {
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.38);
    padding: 3px;
    margin-right: 3px;
    border-radius: 2px;
    min-width: 1.3em;
}


@media(max-width: 570px) {
    .ext {
        display: none;
    }
}
